body{
    height: 100vh;
    font-size: 18px;
    background-color: rgb(75, 57, 34);
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
#main{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;

}
#display{
    width:320px;
    border:solid rgb(166, 201, 86) 5px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    border-radius: 20px;
}
#column{
    display: flex;
    flex-direction: column;
}

#special,
#numbers{
    width:240px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;

}
#operators{
    width:80px;
}


button{
    width: 80px;
    height: 80px;
    background-color: bisque;
    border-radius: 10px;

}

.big{
    flex:1 1 0;
    text-align: center;
}